<?xml version="1.0"?>

<robot name="robot"  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- include -->   
  <xacro:include filename="$(find humanoid-robot)/urdf/humanoid.xacro" />

 <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/left_shoulder_joint1</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

 <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/right_shoulder_joint2</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/right_elbow_joint</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>


 <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/right_shoulder_joint1</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

 <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/left_shoulder_joint2</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/left_elbow_joint</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

<!-- Robot Link -->
  <gazebo reference="body_link1">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="body_link2">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="left_shoulder">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="left_arm">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="left_forearm">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="left_hand">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="right_shoulder">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo reference="right_arm">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_forearm">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_hand">
    <material>Gazebo/Blue</material>
  </gazebo>

</robot>
