robot:
  # Publish all joint states -----------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50  

  # Position Controllers ---------------------------------------

  # Left arm -------------
  left_shoulder_joint1_position_controller:
    type: position_controllers/JointPositionController
    joint: left_shoulder_joint1

  left_shoulder_joint2_position_controller:
    type: position_controllers/JointPositionController
    joint: left_shoulder_joint2

  left_elbow_joint_position_controller:
    type: position_controllers/JointPositionController
    joint: left_elbow_joint

  left_hand_joint_position_controller:
    type: position_controllers/JointPositionController
    joint: left_hand_joint

  # Right Arm ------------
  right_shoulder_joint1_position_controller:
    type: position_controllers/JointPositionController
    joint: right_shoulder_joint1

  right_shoulder_joint2_position_controller:
    type: position_controllers/JointPositionController
    joint: right_shoulder_joint2

  right_elbow_joint_position_controller:
    type: position_controllers/JointPositionController
    joint: right_elbow_joint

  right_hand_joint_position_controller:
    type: position_controllers/JointPositionController
    joint: right_hand_joint

  gazebo_ros_control/pid_gains:   
    left_shoulder_joint1: {p: 50.0, i: 0.1, d: 1.0}
    left_shoulder_joint2: {p: 50.0, i: 0.1, d: 1.0}
    left_elbow_joint: {p: 50.0, i: 0.1, d: 1.0}
    left_hand_joint: {p: 50.0, i: 0.1, d: 1.0}
    right_shoulder_joint1: {p: 50.0, i: 0.1, d: 1.0}
    right_shoulder_joint2: {p: 50.0, i: 0.1, d: 1.0}
    right_elbow_joint: {p: 50.0, i: 0.1, d: 1.0}
    right_hand_joint: {p: 50.0, i: 0.1, d: 1.0}
